center{
    margin: 10px;
}
table{
    border: 2px solid forestgreen;
    text-align: center;
    width: 100%;
}

th{
    border-bottom: 1px solid forestgreen;
    font-family: "Roboto";
}
td{
    border-bottom: 1px solid black;
}
